body {
  background: #484848;
  color: white;
  font-size: 16px;
  font-family: Helvetica;
}

.table {
  text-align: justify;
}

.table td {
  padding: 5px;
}

.MainMenu {
  background: #242424;
  color: #17b2ff;
  width: 100%;
  margin-bottom: 0;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 5px solid #17b2ff;
  border-radius: 0px;
}

.MainMenu a {
  color: #17b2ff;
}

.MainMenu .navbar-header a {
  transition: all, .5s;
  color: #17b2ff;
  font-weight: bold;
  font-size: 20px;
  transform-origin: center;
  z-index: 1;
}

.MainMenu .navbar-header a:after {
  background: linear-gradient(#242424, rgba(23, 178, 255, 0.7));
  transition: opacity 1s ease-out;
  opacity: 0;
  z-index: 2;
}

.MainMenu .navbar-header a:hover, .MainMenu .navbar-header a:after {
  color: #e6f7ff;
  transition: all, 1s;
  opacity: 1;
}

.MainMenu .navbar-nav {
  text-align: center;
}

.MainMenu .navbar-nav li {
  text-align: center;
}

.MainMenu .navbar-nav li a {
  transition: all, .5s;
  color: #17b2ff;
  transform-origin: center;
  z-index: 1;
}

.MainMenu .navbar-nav li a:after {
  background: linear-gradient(#242424, rgba(23, 178, 255, 0.7));
  transition: opacity 1s ease-out;
  opacity: 0;
  z-index: 2;
}

.MainMenu .navbar-nav li a:hover, .MainMenu .navbar-nav li a:after {
  color: #e6f7ff;
  transition: all, 1s;
  opacity: 1;
}

.MainMenu .navbar-nav a {
  color: #17b2ff;
}

.jumbotron,
.page-header {
  background: #242424;
  height: 100px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.PageHead .h2,
.PageHead h2 {
  margin-top: 5px;
}

.PageHead .jumbotron {
  margin-bottom: 0;
}

#ResumePage {
  color: #e6f7ff;
}

#ResumePage .h4,
#ResumePage h4 {
  color: white;
  padding: 5px 0;
  text-align: center;
  background: linear-gradient(to right, #484848, #484848, rgba(23, 178, 255, 0.5), #484848, #484848);
}

#ResumePage .h5,
#ResumePage h5 {
  color: #e6f7ff;
  padding: 5px 0;
  text-align: center;
  background: linear-gradient(to right, #484848, #484848, rgba(23, 178, 255, 0.5), #484848, #484848);
}

#ResumePage tr {
  border-bottom-width: 5px;
  border-bottom-color: linear-gradient(to right, #484848, #484848, rgba(23, 178, 255, 0.8), #484848, #484848);
}

#ResumePage td {
  border-top: none;
}

#ResumePage .col-sm-4 {
  margin-bottom: 20px;
}

#ResumePage ul {
  margin-right: 0;
  padding-left: 0;
}

#ResumePage li {
  list-style-type: none;
  text-align: center;
  padding: 1px;
  line-height: 1.5;
  margin-bottom: 5px;
  color: #e6f7ff;
  transition: all, .8s;
}

#ResumePage li:hover, #ResumePage li:active {
  background: rgba(23, 178, 255, 0.1);
}

#MainPortfolio a {
  color: #17b2ff;
  line-height: 12px;
}

#MainPortfolio h2 {
  margin-bottom: 0;
  line-height: 0px;
}

.card {
  background: #242424;
}

.card-body {
  border: 2px #17b2ff;
  border-radius: 8px;
}

.card-body .img {
  width: 100%;
  height: 100%;
}

#ProjectsPage img {
  width: 315px;
  height: 250px;
}

#ProjectsPage td {
  border-top: none;
}

#Port3D img {
  width: 100%;
  height: 100%;
}

.panel-body,
.panel-header,
.panel-footer {
  background: #242424;
  border-top: none;
  border-bottom: none;
}

.panel-default,
.panel {
  border-color: #17b2ff;
  border-width: 2px;
  border-radius: 5px;
}

form {
  border: 1px solid #17b2ff;
  left: 50%;
  border-radius: 5px;
  background: #242424;
  width: 100%;
  display: inline-block;
  text-align: center;
}

form input {
  text-align: center;
  width: 49%;
  background: #484848;
  color: #17b2ff;
  border: 2px solid #484848;
  border-radius: 5px;
}

form textarea {
  background: #484848;
  height: 45%;
  width: 100%;
  color: #17b2ff;
  border: 2px solid #484848;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
}

form #Subject input {
  width: 100%;
}

.well-no {
  background: #ff3030;
  text-align: center;
  color: white;
  border: 1px solid red;
}

.well-yes {
  background: #80ff80;
  text-align: center;
  color: white;
  border: 1px solid green;
}

.GamePage .h5,
.GamePage h5,
.GamePage .h4,
.GamePage h4 {
  font-weight: bold;
}

.GamePage a {
  color: #17b2ff;
}

.GamePage a:hover, .GamePage a:active {
  color: #e6f7ff;
}

.GamePage .table tbody tr {
  border-bottom-width: 1px;
  border-bottom: linear-gradient(to right, #484848, #484848, rgba(23, 178, 255, 0.8), #484848, #484848);
}

.GamePage .table tbody tr td {
  border-top: none;
}

#ProjectsPage .row {
  margin-top: 25px;
}

.carousel-inner {
  border-radius: 10px;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}
